<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sids_checklist"
        tools:targetApi="31">
        <activity
            android:name=".Checklist_Activity"
            android:exported="false" />
        <activity
            android:name=".Checklist_SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pin_Activity" />
        <activity android:name=".Security_Questions_Ask"/>
        <activity android:name=".Pin_Setup_Pin"/>
        <activity android:name=".Setup_Security_Questions_Pin"/>

        <activity android:name=".checklistreports.Checklist_Export" />
        <activity
            android:name=".Main_Activity"
            android:theme="@style/Theme.Sids_checklist"/>
        <activity android:name=".Settings_Activity"/>
        <activity android:name=".checklistreports.Checklist_Reports" />
        <activity android:name=".Checklist_Setup_Activity"/>
        <activity android:name=".Pin_Setup_Settings"/>
        <activity android:name=".Setup_Security_Questions_Settings"/>
        <activity android:name=".infopages.Info_Page_Activity"/>
        <activity android:name=".infopages.General_Info_Activity"/>
        <activity android:name=".infopages.Sleep_Location_Activity"/>
        <activity android:name=".infopages.Sleep_Area_Activity"/>
        <activity
            android:name=".Profile_Activity"
            android:theme="@style/Theme.Sids_checklist"/>
        <activity android:name=".Sharing_Activity"/>


    </application>

</manifest>